.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 7px 6px 25px 0px rgba(212,212,212,0.55);
    -moz-box-shadow: 7px 6px 25px 0px rgba(212,212,212,0.55);
    box-shadow: 7px 6px 25px 0px rgba(212,212,212,0.55);
    border-radius: 10px;
    height: 100px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 14px;
            color: gray;
        }

        .counter{
            font-size: 28px;
            font-weight: 300;
        }

        .link{
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive{
                color:green;
            }

            &.negative{
                color:red;
            }
        }

        .icon{
            font-size: 18px;
            padding: 5px;
            // background-color: rgba(128, 0, 128, 0.541);
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}